# Código compilado
*.class
target/**
target-eclipse/**

# Empaquetados
*.7z
*.dmg
*.gz
*.iso
#Se comenta por las bibliotecas que necesita Grails Wrapper
#*.jar
*.rar
*.tar
*.zip

# Logs
*.log

# Archivos de Eclipse e IntelliJ IDEA
.classpath
.project
.settings
*.iml
*.ipr
*.iws
.idea

#Archivos que genera H2 para almacenar el estado de la BD cuando la conf del datasource es 'file' en lugar de 'mem'
devDb.h2.db
devDb.lock.db
devDb.trace.db

#Archivos .DS_Store
.DS_Store
grails-app/controllers/mx/sintelti/nsjp/defensoria/CoordinadorController.groovy
grails-app/controllers/mx/sintelti/nsjp/defensoria/DefensorController.groovy
grails-app/services/mx/sintelti/nsjp/InvestigacionInicial/CarpetaService.groovy
grails-app/views/defensoria/coordinador/
grails-app/views/defensoria/defensor/
grails-app/views/investigacionInicial/conDetenido/solicitudDiligenciasInvestigacion/solicitarDiligencias.gsp
test/unit/mx/sintelti/nsjp/InvestigacionInicial/
test/unit/mx/sintelti/nsjp/catalogos/CatDistritoMpoJuezSpec.groovy
test/unit/mx/sintelti/nsjp/defensoria/
test/unit/mx/sintelti/nsjp/persona/
